# Dependencies
node_modules
.pnp
.pnp.js
.npmrc

# Build outputs
dist
_dist
.turbo
tsconfig.tsbuildinfo

# Testing
coverage

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lockfiles (choose which one to keep based on package manager)
# yarn.lock
# package-lock.json
# Leave pnpm-lock.yaml in the repo